* {
    font-family: Roboto;
    margin: 0;
}

.header,
.footer,
.intro {
background-color: #1f2937;
color: #f9faf8;
}

button {
    border-radius: 10%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

/* Navigation Bar and Logo */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 20px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.header a.logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
    text-decoration: none;
}

.header a.nav-links {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

a.nav-links:hover {
    color: gold;
}

/* Introduction content directly below the header */



/* The first content section */
.content-one {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #1f2937;
}

.c1-header {
    text-align: center;
}

.pictures {
    display: flex;
    text-align: center;
    text-wrap: wrap ;
    max-width: 400px;
}


/* Second content section */
.content-two {
    background-color: #E5E7EB;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style:italic;
    max-width: 600px;
    margin: 100px 100px 100px 100px ;
    display: flex;
    flex-direction: column;
    
}
.author {
    font-size: 24px;
    font-weight: 800;
    align-self: end;
}


/* Third content section */
.content-three {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.c2a {
    display: flex;
    background-color: #3882f6;
    max-width: 800px;
    justify-content: center;
    padding: 50px;
    width: 800px;
    flex: auto;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}